@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in {
  animation: fadeIn 150ms ease-out forwards;
}

@keyframes arc-rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes arc-dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }

  50% {
    stroke-dasharray: 120, 200;
    stroke-dashoffset: -30;
  }

  100% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: -200;
  }
}

.arc-spinner {
  animation: arc-rotate 1.6s linear infinite;
  color: var(--COLOR-TEXT-PRIMARY);
}

.arc-spinner circle {
  stroke-linecap: round;
  animation: arc-dash 1.6s ease-in-out infinite;
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.25;
  }
}

.blink {
  animation: blink 1.5s ease-in-out infinite;
}
