.dark {
  /* BACKGROUND-COLORS */
  --COLOR-BG-PAGE: var(--BLUE-950);
  --COLOR-BG-CARD-PRIMARY: var(--BLUE-900);
  --COLOR-BG-THEME-ICON: var(--WHITE);

  /* FONT-COLORS */
  --COLOR-TEXT-PRIMARY: var(--WHITE);
  --COLOR-TEXT-SECONDARY: var(--GREY-50);

  /* SHADOW-COLORS */
  --COLOR-SHADOW-PRIMARY: hsla(209deg, 40%, 9%, 0.1);
}
