.dark {
  /* BACKGROUND-COLORS */
  --COLOR-BG-PAGE: var(--BLUE-950);
  --COLOR-BG-THEME-ICON: var(--WHITE);

  /* FONT-COLORS */
  --COLOR-TEXT-PRIMARY: var(--WHITE);
  --COLOR-TEXT-SECONDARY: var(--GREY-50);
}
